"*":
  "atom-beautify":
    general:
      _analyticsUserId: "5283cc4e-282b-4924-a440-1e53ed319582"
    scss:
      convert_quotes: "single"
      indent_size: 2
  core:
    disabledPackages: [
      "linter"
      "autocomplete-wordpress-hooks"
      "atom-wordpress"
    ]
    telemetryConsent: "no"
  docblockr: {}
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
  "exception-reporting":
    userId: "d2530b49-7535-a928-98b0-0ffb6b36c7d8"
  "linter-eslint": {}
  pigments:
    sassShadeAndTintImplementation: "bourbon"
  welcome:
    showOnStartup: false
